[config]
default_to_workspace = false

[tasks.test]
install_crate = { crate_name = "cargo-nextest", binary = "cargo", test_arg = [
    "nextest", "--help",
] }
command = "cargo"
args = [
    "nextest", "run", "--workspace",
    "--status-level", "all", "--test-threads=1",
]

[tasks.test-ci]
run_task = "test"

[tasks.clippy]
command = "cargo"
args = ["clippy", "--all", "--all-targets", "${@}"]

[tasks.clippy-ci]
command = "cargo"
args = ["clippy", "--", "--no-deps", "-Dwarnings"]

[tasks.fmt]
command = "cargo"
args = ["fmt", "--all", "${@}"]

[tasks.fmt-check]
command = "cargo"
args = ["fmt", "--all", "--check"]

[tasks.pre-commit]
description = "Run fmt and clippy before commit"
dependencies = ["fmt-check", "clippy"]

[tasks.check]
description = "Format and lint"
dependencies = ["fmt", "clippy"]
