[config]
default_to_workspace = false

[tasks.test]
install_crate = { crate_name = "cargo-nextest", binary = "cargo", test_arg = [
    "nextest", "--help",
] }
command = "cargo"
args = [
    "nextest", "run", "--workspace",
    "--status-level", "all", "--test-threads=1",
]

[tasks.test-ci]
run_task = "test"

[tasks.clippy-ci]
command = "cargo"
args = ["clippy", "--", "--no-deps", "-Dwarnings"]

[tasks.fmt]
command = "cargo"
args = ["fmt", "--all", "${@}"]
