[package]
name = "shared"
version = "0.1.0"
edition.workspace = true
publish.workspace = true
license.workspace = true

[dependencies]
thiserror.workspace = true
garde.workspace = true
axum.workspace = true
